header{
    height: 220px;
    width: 485px;
}
main{
    height: 220px;
    background-color:#F48C06;

}
.container{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 485px 220px;

}
.card one {
    max-width: 92px;
    max-height: 120px;
    flex-shrink: 0;
    background-color:#9D0208 ;
    border-radius: 4px;
    margin-left: 72px;
    padding: 10px;
    display: flex;
    position: relative;

}
.card two {
    max-width: 78px;
    max-height: 64px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color:#9D0208 ;
    margin-bottom: 101px;
    display: flex;
    position: relative;

}
.card three{
    max-width: 78px;
    max-height:  120px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #9D0208;
    margin-right: 72px;
    display: flex;
    position: relative;
}
.btn More Info{
    position: absolute;
    justify-content: space-between;
    bottom: 10px;
    width: 80%;
    height:40px ;
    border: none;
    background-color: #F48C06;

}
.btn Accept {
    background-color: #F48C06;

}
.btn Decline {
    background-color: #F48C06;
}


