body{
    background-color:  #370617;
    margin: 20px;
}
.flexBoxSQUERS{
    display: flex;
    height: 100vh;
    background-color: #370617;
    display:flex;flex-wrap-wrap;
    flex-direction: flex;
    align-items: center;
    justify-content:center;

}
.rectanglecontainer1{
    align-items: flex-end;
    justify-content:flex-start;
    width: 468px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color:#F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;

}


.cardone{
    width: 78px;
    min-height: 78px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #9D0208;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;

    
}

.cardtwo{
    width: 78px;
    min-height: 78px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #9D0208;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

}

.cardthree{
    align-self: flex-end;
    width: 78px;
    min-height: 78px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #9D0208;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    


}
.rectanglecontainer2{
    align-items:stretch;
    justify-content:flex-end;
    width: 468px;
    min-height: 78px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color:#F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;

}

.rectanglecontainer3{
    align-items:center;
    justify-content:flex-end;
    width: 468px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color:#F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;

}

.rectanglecontainer4{
    align-items: flex-start;
    justify-content:space-between;
    width: 468px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color:#F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;


}

.rectanglecontainer5{
    align-items:baseline;
    justify-content:flex-start;
    width: 468px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color:#F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
   }

.text{
        color: #FFF;
        font-size: 12px;
        font-family: Roboto;
        font-weight: 400;
        line-height: normal;
        width: 54px;
        height: 14px;
        
    }
  

   
.rectanglecontainer6{
    align-items:center;
    justify-content:flex-start;
    width: 468px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color:#F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;

}

    

.card-long {
flex-grow:2; 

}







